/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, ::before, ::after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  background-color: #f2f4f8;
  color: #27272a;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto", '"Helvetica Neue"', "Arial", '"Noto Sans"', "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", '"Liberation Mono"', '"Courier New"', "monospace";
}

a {
  color: #2563eb;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #1d4ed8;
}
a[data-method=delete], a._danger {
  color: #dc2626 !important;
}
a[data-method=delete]:hover, a._danger:hover {
  color: #b91c1c;
}

hr {
  border-top-width: 1px;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

button,
[role=button] {
  cursor: pointer;
}

[hidden] {
  display: none;
}

.Badge {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 20px;
  min-width: 20px;
  color: #fff;
  background-color: #52525b;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  white-space: break-spaces;
}
.Badge._pill {
  padding: 0 0.75rem;
  border-radius: 9999px;
}
.Badge._circle {
  padding: 0;
  border-radius: 9999px;
  font-size: 0.625rem;
  place-content: center;
}
.Badge._red {
  background-color: #ef4444;
}
.Badge._yellow {
  background-color: #eab308;
}
.Badge._green {
  background-color: #22c55e;
}
.Badge._blue {
  background-color: #3b82f6;
}
.Badge._indigo {
  background-color: #6366f1;
}
.Badge._purple {
  background-color: #a855f7;
}
.Badge._pink {
  background-color: #ec4899;
}
.Badge._light {
  background-color: #e4e4e7;
}
.Badge._light._red {
  background-color: #fee2e2;
  color: #dc2626;
}
.Badge._light._yellow {
  background-color: #fef9c3;
  color: #ca8a04;
}
.Badge._light._green {
  background-color: #dcfce7;
  color: #16a34a;
}
.Badge._light._blue {
  background-color: #dbeafe;
  color: #2563eb;
}
.Badge._light._indigo {
  background-color: #e0e7ff;
  color: #4f46e5;
}
.Badge._light._purple {
  background-color: #f3e8ff;
  color: #9333ea;
}
.Badge._light._pink {
  background-color: #fce7f3;
  color: #db2777;
}
.Badge._outline {
  color: #4b5563;
  background-color: transparent !important;
  border: 1px solid #d1d5db;
}
.Badge._outline._red {
  border: 1px solid #fca5a5;
  color: #dc2626;
}
.Badge._outline._yellow {
  border: 1px solid #fde047;
  color: #ca8a04;
}
.Badge._outline._green {
  border: 1px solid #86efac;
  color: #16a34a;
}
.Badge._outline._blue {
  border: 1px solid #93c5fd;
  color: #2563eb;
}
.Badge._outline._indigo {
  border: 1px solid #a5b4fc;
  color: #4f46e5;
}
.Badge._outline._purple {
  border: 1px solid #d8b4fe;
  color: #9333ea;
}
.Badge._outline._pink {
  border: 1px solid #f9a8d4;
  color: #db2777;
}
