.Doc-wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.Doc-sidebar {
    flex: 0 0 auto;
    width: calc((100% - 1170px) / 2 + 256px);
    min-width: 256px;
    height: 100%;
    padding: 48px 24px;
    padding-left: calc((100% - 1170px) / 2);
    border-right: 1px solid #e6ecf1;
    background-color: #f5f7f9;
    font-size: 14px;
    overflow-y: scroll;
}

.Doc-sidebar .logo {
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 40px;
    background: url('../images/logo-vespera.png') no-repeat;
    background-size: contain;
    color: #242a31;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 32px;
}

.Doc-sidebar ul li {
    margin-bottom: 2px;
}

.Doc-sidebar ul li.is-directory {
    margin-top: 24px;
}

.Doc-sidebar ul li.is-directory span {
    display: block;
    margin-bottom: 4px;
    padding: 0 8px;
    color: #a1a1aa;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Doc-sidebar ul li a {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 8px;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #3f3f46;
    font-weight: 600;
    text-decoration: none;
}

.Doc-sidebar ul li a:hover {
    background-color: #e6ecf1;
}

.Doc-sidebar ul li.is-current a {
    background-color: #fff;
    color: #2b50ed;
}

.Doc-page {
    flex: 1 1 auto;
    min-width: 900px;
    padding: 48px 0 48px 90px;
    padding-right: calc((100% - 1170px) / 2);
    background-color: #fff;
    font-size: 14px;
    overflow-y: scroll;
}

.Doc-page > h1,
.Doc-page > h2,
.Doc-page > h3,
.Doc-page > h4,
.Doc-page > h5,
.Doc-page > h6 {
    margin-bottom: 16px;
    font-weight: 600;
}

.Doc-page > h1 { font-size: 28px; }
.Doc-page > h2 { font-size: 24px; }
.Doc-page > h3 { font-size: 20px; }
.Doc-page > h4 { font-size: 16px; }
.Doc-page > h5 { font-size: 14px; }
.Doc-page > h6 { font-size: 12px; text-transform: uppercase; }

.Doc-page > p,
.Doc-page > ul,
.Doc-page > ol {
    margin-bottom: 16px;
}

.Doc-page > ul,
.Doc-page > ul ul,
.Doc-page > ul ul ul,
.Doc-page > ol {
    margin-left: 20px;
}

.Doc-page > ul { list-style: disc; }
.Doc-page > ul ul { list-style: circle; }
.Doc-page > ul ul ul { list-style: square; }
.Doc-page > ol { list-style: decimal; }

.Doc-page > p code {
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #f5f5f5;
    color: #da1039;
}

.Doc-title {
    margin-bottom: 48px;
    padding: 0 0 32px 0;
    border-bottom: 2px solid #e6ecf1;
    color: #242a31;
    font-size: 32px;
    font-weight: 600;
}

div[example] {
    margin-bottom: 32px;
    padding: 32px;
    border: 1px solid #e6ecf1;
    border-radius: 8px 8px 0 0;
}

div[example] > *:last-child {
    margin-bottom: 0 !important;
}

div[example] + pre {
    margin: -32px 0 32px 0 !important;
    padding: 32px !important;
    border: 1px solid #e6ecf1;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #f5f7f9 !important;
    font-family: Consolas,Menlo,Monaco,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;
    font-size: 14px;
    line-height: 1.5 !important;
}

code[class*=language-] {
    background-color: transparent !important;
}

code[class*=language-], pre[class*=language-] {
    font-size: 12px !important;
}
