// Breakpoint
@mixin breakpoint($min: 0, $max: 0) {
    $query: "all" !default;
    @if $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; }
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; }
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; }
    @media #{$query} { @content; }
}

// Row gutters
@mixin row-gutters($gutter) {
    & {
        margin-left: -$gutter;
    }

    & > .col {
        margin-left: $gutter;
    }

    @for $i from 1 through 12 {
        $width: 100% / 12 * $i;
        & > .col-#{$i} {
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }

        [class*='col-'] {
            &._offset-#{$i} {
                margin-left: calc(#{$width} + #{$gutter});
            }
        }
    }
}
