.Panel {
    @extend ._rounded-lg;
    @extend ._shadow-sm;
    background-color: $white;
    overflow: hidden;

    > .panel-header {
        display: flex;
        align-items: center;
        place-content: space-between;
        padding: $space-inner-y $space-inner-x;
        border-bottom-width: 1px;
    }

    > .panel-body {
        padding: $space-inner-y $space-inner-x;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    > .panel-footer {
        display: flex;
        align-items: center;
        padding: $space-inner-y $space-inner-x;
        border-top-width: 1px;
    }

    > .Tabs {
        .tab {
            padding: $space-inner-y $space-inner-x;

            + .tab {
                margin-left: 0;
            }
        }
    }
}
