.Tabs {
    display: flex;
    margin: 0;
    list-style: none;
    border-bottom-width: 1px;

    .tab {
        position: relative;
        top: 1px;
        display: inline-flex;
        align-items: center;
        padding: $space-inner-y / 2 $size-1;
        border-bottom: 2px solid transparent;
        color: $text-color;
        text-decoration: none;
        white-space: break-spaces;

        + .tab {
            margin-left: $space-inner-x / 2;
        }

        &:hover:not(._active) {
            border-bottom-color: $gray-300;
            color: $black;
        }

        &._active {
            border-bottom-color: $color-primary;
            font-weight: $font-strong;
        }
    }
}
