.Alert {
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    border-width: 1px;
    border-radius: .375em;

    > * {
        margin-bottom: $size-1;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            opacity: .75;
        }
    }

    &._success {
        background-color: $green-300;
        border-color: $green-500;
    }

    &._danger {
        background-color: $red-300;
        border-color: $red-500;
    }

    &._info {
        background-color: $blue-300;
        border-color: $blue-500;
    }

    &._warning {
        background-color: $amber-300;
        border-color: $amber-500;
    }

    &._light {
        &._success { background-color: $green-50; border-color: $green-200; }
        &._danger { background-color: $red-50; border-color: $red-200; }
        &._info { background-color: $blue-50; border-color: $blue-200; }
        &._warning { background-color: $amber-50; border-color: $amber-200; }
    }
}
